* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* .home {
  margin-bottom: 30px;
} */
.home_btn {
  /* padding: 5px 10px;
  background: #f7577f;
  border-radius: 5px;
  text-align: center;
  color: #272727;
  font-weight: bold;
  font-size: 20px;
  border: none; */
  margin-bottom: 30px;
}
.text_grid {
  /* display: flex;
  gap: 30px; */
  margin-bottom: 70px;
}
/* .img {
  width: 280px;
  height: 100px;
  background: #865475;
  opacity: 0.3;
  border-radius: 10px;
} */
.text {
  text-align: justify;
}
.code_container {
  background: #f3e1e2;
  padding: 10px 15px;
  border-radius: 10px;
  margin-bottom: 70px;
}
.code {
  color: rgba(26, 26, 26, 0.7);
}
