* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* .home {
  margin-bottom: 30px;
} */

/* .text_grid {
  display: flex;
  gap: 30px;
  margin-bottom: 70px;
} */
/* .img {
  width: 280px;
  height: 100px;
  background: #865475;
  opacity: 0.3;
  border-radius: 10px;
} */
.text {
  text-align: justify;
  margin-bottom: 30px;
  font-size: 20px;
}
.code_container {
  background: #e9d8d8;
  padding: 15px 20px 20px 20px;
  border-radius: 10px;
}
.code {
  color: rgba(82, 52, 63, 0.7);
  font-size: 17px;
}
.lesson_title {
  font-weight: bold;
  font-size: 23px;
  padding-bottom: 30px;
}
li {
  text-align: justify;
  margin-bottom: 10px;
  font-size: 20px;
}
.title_li {
  font-weight: bold;
  margin-bottom: 10px;
}
